<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

</head>
<body>
{# панель меню #}
    <input type="checkbox" id="nav-toggle" hidden> {# для вызова меню #}
    <nav class="nav">
        <label for="nav-toggle" class="nav-toggle" onclick></label> {# для испр. бага в IOS 6 #}
        <h2 class="logo"><a href="../">Pintura</a></h2>
        <ul>
            <li><a href="../">Главная страница</a>
            <li><a href="../timetable/">Расписание</a>
            <li><a href="../materials/">Склад студии</a>
            <li><a href="../clientslist/">Список клиентов</a>
            <li><a href="#1">Список сотрудников</a>
            <li><a href="#2">Финансы</a>
            <li><a href="#3">Вложения</a>
            <li><a href="#4">Справочники</a>
            <li><a href="#5">Настройки</a>
        </ul>
    </nav>
    <div class="mask-content"></div> {# для затемнения фона при вызове меню #}

    {# заголовок уровня 1 #}
    <header id="header">
        <h1>{% block h1_name %}{% endblock %}</h1>
    </header>

    {# область панели управления #}
    <div class="button" id="MyFormPanel">
        {% block btn_panel %}{% endblock %}
    </div>

    <form method="POST" action="/foo.php">
 
        First Name: <input type="text" name="first_name" /> <br />
        Last Name: <input type="text" name="last_name" /> <br />
         
        <input type="submit" name="action" value="Submit" />
         
        </form>
</body>
</html>